@import './reset.css';

$ratio:375/10;

@function px2rem($px) {
  @return $px / $ratio+rem
}

$font-color: #333;
$shadow:rgba(0, 0, 0, .1);
$bg-white: rgb(250, 250, 250);

$font-size-xs: 8px;
$font-size-sm: 12px;
$font-size-md: 16px;
$font-size-lg: 20px;
$font-size-xl: 24px;

.noshadow{
  box-shadow: none;
}

@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}