@import './reset.css';

$ratio:375/10;

@function px2rem($px) {
  @return $px / $ratio+rem
}

$font-color: rgba(51, 51, 51, .7);
$shadow:rgba(0, 0, 0, .1);
$dark-shadow:rgba(0, 0, 0, .3);
$bg-white: rgb(250, 250, 250);

$font-size-xs: px2rem(8);
$font-size-sm: px2rem(12);
$font-size-md: px2rem(16);
$font-size-lg: px2rem(20);
$font-size-xl: px2rem(24);
$font-size-xxl: px2rem(26);

$screen-margin: px2rem(10);

$li-height: px2rem(50);
$tab-height: px2rem(50);

.noshadow {
  box-shadow: none;
}

.tapped {
  background-color: $shadow;
  color: $bg-white;
}

// .wrap {
//   box-shadow: 0 0 10px rgba(0, 0, 0, .2);
// }

@mixin flex-center-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

@mixin flex-center-col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

// 阅读界面图标
@mixin reader-menu-icon {
  .icon-wrapper {
    width: $tab-height;
    height: $tab-height;
    height: 100%;
    flex: 1;
    @include flex-center-row;
    transition: all .1s ease-in-out;

    span {
      width: 100%;
      height: 100%;
      line-height: $tab-height;
      text-align: center;
      font-size: $font-size-lg;
      transition: all .1s ease-in-out;

      &:active {
        transform: translateY(px2rem(2));
      }
    }

    &:active {
      background-color: $shadow;
    }
  }
}

// 阅读界面设置面板位置
@mixin panelPosition($name) {
  .#{$name} {
    position: absolute;
    z-index: 10;

    @if $name !=catalog {
      bottom: px2rem(50);
    }

    @if $name==catalog {
      z-index: 30;
      top: 0;
    }

    @if $name==more {
      z-index: 30;
      top: $tab-height;
      right: 0;
    }
  }
}

//  阅读界面设置面板样式
@mixin panelStyle($name, $axis, $bias) {

  .#{$name}-enter,
  .#{$name}-leave-to {
    transform: translate#{$axis}($bias);
    opacity: .6;
  }

  .#{$name}-enter-active,
  .#{$name}-leave-active {
    transition: all 0.2s ease-in-out;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -ms-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
  }

  .#{$name}-leave,
  .#{$name}-enter-to {
    transform: translate#{$axis}(0);
    opacity: 1;
  }
}