.default {
  background-color: rgb(243, 243, 243);
  color: black;

  .header {
    border-bottom: 1px solid rgba(0, 0, 0, .2);
  }

  .checked {
    color: $font-color;
    background-color: $shadow;
    border-left: px2rem(4) solid #000;
  }

  .font-family-link {
    border: 1px solid $font-color;
  }

  .title {
    border-bottom: 1px solid $shadow;
  }

  .search {
    border: 1px solid rgba(0, 0, 0, .4);
  }

  input {
    background: $shadow;
  }

  .search input {
    background-color: rgb(243, 243, 243);
    color: black;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }

  input[type=range]::-webkit-slider-thumb {
    background: black;
    border: 6px solid $bg-white;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(0, 0, 0, .6);
  }

  .btns {
    font-weight: bold;
    background-color: rgb(243, 243, 243);

    // .deactive {
    //   background-color: #999;
    //   color: black;
    //   font-weight: normal;
    //   color: #fff;
    // }


    .bar {
      margin-top: px2rem(6);
      width: 20%;
      height: 2px;
      background-color: rgba(0, 0, 0, .4)
    }
  }
}

.dark {
  background-color: black;
  color: #999;

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  .checked {
    background-color: rgba(255, 255, 255, .1);
    color: #999;
    border-left: px2rem(4) solid #999;

    & span {
      font-weight: bold;
    }
  }

  .font-family-link {
    border: 1px solid #999;
  }

  .title {
    border-bottom: 1px solid #999;
  }

  .search {
    border: 1px solid rgba(255, 255, 255, .4);
  }

  input {
    background: #999;
  }

  .search input {
    background-color: black;
    color: #999;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }

  input[type=range]::-webkit-slider-thumb {
    background: black;
    border: 6px solid #999;
  }

  .btns {
    font-weight: bold;
    background-color: black;

    // .deactive {
    //   font-weight: normal;
    //   background-color: #999;
    //   color: #fff;
    // }

    .bar {
      margin-top: px2rem(6);
      width: 20%;
      height: 2px;
      background-color: rgba(255, 255, 255, .4)
    }
  }
}

.jungle {
  background-color: darkslategrey;
  color: cadetblue;

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  .checked {
    color: cadetblue;
    background-color: $shadow;
    border-left: px2rem(4) solid cadetblue;

    & span {
      font-weight: bold;
    }
  }

  .font-family-link {
    border: 1px solid cadetblue;
  }

  .title {
    border-bottom: 1px solid cadetblue;
  }

  .search {
    border: 1px solid rgba(255, 255, 255, .4);
  }

  input {
    background: cadetblue;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }

  input[type=range]::-webkit-slider-thumb {
    background: darkslategrey;
    border: 6px solid cadetblue;
  }

  .search input {
    background-color: darkslategrey;
    color: cadetblue;
  }

  .btns {
    font-weight: bold;
    background-color: darkslategray;

    // .deactive {
    //   font-weight: normal;
    //   background-color: cadetblue;
    //   color: darkslategrey;
    // }

    .bar {
      margin-top: px2rem(6);
      width: 20%;
      height: 2px;
      background-color: rgba(255, 255, 255, .4)
    }
  }
}

.pink {
  background-color: palevioletred;
  color: pink;

  .header {
    border-bottom: 1px solid rgba(255, 255, 255, .2);
  }

  .checked {
    background-color: $shadow;
    color: pink;
    border-left: px2rem(4) solid pink;

    & span {
      font-weight: bold;
    }
  }

  .font-family-link {
    border: 1px solid #ffc0cb;
  }

  .title {
    border-bottom: 1px solid pink;
  }

  .search {
    border: 1px solid rgba(255, 255, 255, .4);
  }

  input {
    background: pink;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }

  .search input {
    background-color: palevioletred;
    color: pink;
  }

  .search input::-webkit-input-placeholder {
    color: rgba(255, 255, 255, .6);
  }

  input[type=range]::-webkit-slider-thumb {
    background: #d87093;
    border: 6px solid #ffc0cb;
  }

  .btns {
    font-weight: bold;
    background-color: palevioletred;

    // .deactive {
    //   font-weight: normal;
    //   background-color: pink;
    //   color: palevioletred;
    // }

    .bar {
      margin-top: px2rem(6);
      width: 20%;
      height: 2px;
      background-color: rgba(255, 255, 255, .4)
    }
  }
}